<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TileManiac.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tile_Maniac___RSDKv5_Collision_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <TileManiac.Properties.Settings>
            <setting name="ViewerSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ListSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScrollAllowed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DevInt1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevInt2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevInt3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevInt4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevInt5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevInt6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevInt7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevInt8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevIncrement" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DevInt9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevInt10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClassicMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewAppearanceMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MirrorMode" serializeAs="String">
                <value>False</value>
            </setting>
        </TileManiac.Properties.Settings>
        <Tile_Maniac___RSDKv5_Collision_Editor.Properties.Settings>
            <setting name="ViewerSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ListSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScrollAllowed" serializeAs="String">
                <value>True</value>
            </setting>
        </Tile_Maniac___RSDKv5_Collision_Editor.Properties.Settings>
    </userSettings>
</configuration>
